.product-wishlist-layout{
    text-align: left;
    width: 396px;
    height: 128px;
    margin: 8px;
    border: 1px solid gainsboro;
    padding-left: 8px;
  }
  .image-wishlist-style{
    width: 128px;
    height: 100%;
    float: left;
  }
  .item-name-wishlist{
   color: #464655;
  }
  .product-wishlist-layout .item-price{
    color: #464655;
  }
  .product-wishlist-layout .item-discount{
  color: #94958b;
  margin-left: 4px;
  text-decoration: line-through;
  font-size: 16px;
  }
  .product-wishlist-layout .discount{
    margin-left: 8px;
    color: green;
  }
  .product-wishlist-layout .button-bg-two{
   height: 28px;
   background: #d64045;
   color: white;
   border: none;
   width: 60%;
   margin-top: 8px;
   margin-bottom: 8px;
   border-radius: 4px;
  
  }